[Unit]
Description=YachtThot Reddit Bot
After=network.target

[Service]
Type=simple
User=thefleshgordon
WorkingDirectory=/home/thefleshgordon/YachtThot-v2
ExecStart=/home/thefleshgordon/YachtThot-v2/venv/bin/python /home/thefleshgordon/YachtThot-v2/main.py
Restart=always
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target
